body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f5fa !important;
}

.bg-custom {
    background-color: #ffffff;
    border-radius: 45px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.btn-custom {
    background-color: #00667F !important;
    border: none !important;
    color: #ffffff;
}

.btn-custom:hover {
    background-color: #005266;
    color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 102, 127, 0.5);
}

.forgot-password {
    color: #00667F;
    font-weight: bold;
}

.forgot-password:hover {
    text-decoration: underline;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f5fa;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #f4f5fa;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar-logo {
    width: 199px;
    height: 82px;
    margin: 0 auto;
}

.nav-link {
    font-size: 17px;
    color: #000;
    padding: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.sidebar-footer {
    margin-top: 20%;
    font-size: 13px;
    color: #969BA0;
    text-align: center;
    font-weight: 600;
}

.horizontal-navbar {
    width: 68%;
    background-color: #f4f5fa;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 361px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.search-bar {
    background-color: #EFEFEF;
    border: none;
    padding: 10px;
    border-radius: 15px;
    width: 200px;
}

.right-content {
    display: flex;
    align-items: center;
}

.profile-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 15px;
}

.main-content {
    margin-top: 100px;
    margin-left: 361px;
    padding-right: 250px;
    padding-bottom: 50px;
}

.gap-div {
    display: flex;
    gap: 50%;
}

.gap-div-2 {
    display: flex;
    align-items: top;
    justify-content: center;
    gap: 10%
}

.content-section {
    padding-top: 20px;
}

.bold-title {
    font-weight: bold;
    white-space: nowrap;
    font-size: 23px;
    /* Adjusted size */
}

.create-icon {
    width: 30px;
    height: 30px;
}



.custom-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.card-title {
    font-size: 19px;
    font-weight: bold;
}

.card-subtitle {
    font-size: 14px;
    /* Adjusted size */
    color: #888888;
    /* Gray color */
}

.gray-text {
    font-size: 13px;
    /* Adjusted size */
    color: #888888;
    /* Gray color */
}


.card-extra {
    display: flex;
    gap: 25%;
    margin-top: 20px;
}

.card-actions {
    display: flex;
    gap: 29%;
    margin-top: 20px;
}


/* Responsive Adjustments */
@media (max-width: 768px) {
    .sidebar {
        width: 250px;
        /* Adjust sidebar for smaller screens */
    }

    .horizontal-navbar {
        margin-left: 250px;
        /* Adjust navbar for smaller screens */
    }

    .main-content {
        margin-left: 250px;
        /* Adjust main content for smaller screens */
    }
}

/* Create proyect form */

.card-top .form-label {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 8px;
}

.custom-btn-primary {
    background-color: #00667F !important;
    border-color: #00667F !important;
}

.custom-btn-primary:hover {
    background-color: #005366 !important;
    /* Darken on hover for effect */
    border-color: #005366 !important;
}