body {
    font-family: 'Poppins', sans-serif;
    background-color: #F9F9F9;
    display: flex;
}

/* Sidebar Styling */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #F9F9F9;
    padding: 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar-logo {
    width: 199px;
    height: 82px;
    margin: 0 auto;
}

.nav {
    margin-top: 5%;
}

.nav-link {
    font-size: 18px;
    color: #000;
    padding: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 400;
}

.nav-link i {
    margin-right: 10px;
}

.nav-link:hover {
    background-color: #EFEFEF;
    border-radius: 5px;
}

.sidebar-footer {
    margin-top: 20%;
    font-size: 14px;
    color: #969BA0;
    text-align: center;
    font-weight: 600;
}

/* Horizontal Navbar Styling */
.horizontal-navbar {
    width: calc(100% - 361px);
    background-color: #F9F9F9;
    padding: 15px 30px;
    margin-left: 361px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-icons a {
    margin-right: 20px;
    color: #000;
    text-decoration: none;
    font-size: 20px;
}

.right-content {
    display: flex;
    align-items: center;
}

.user-info {
    text-align: right;
    margin-right: 15px;
}

.user-info p {
    margin: 0;
}

.profile-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.search-bar {
    background-color: #EFEFEF;
    border: none;
    padding: 10px;
    border-radius: 15px;
    width: 200px;
}

.search-bar:focus {
    outline: none;
}
