<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iskill</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Google Fonts - Nunito -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../static/css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="top-text">
            Bienvenido a
        </div>
        <div class="mt-2" style="margin-top: 2%;">
            <img src="../static/images/logo.png" alt="Centered Image" width="400" height="165">
        </div>
        <div class="sub-text">
            COnecta. Colabora. Crea: tu proximo proyecto o desafiío empieza aquí
        </div>
        <div class="section-text">
            Ingresar como
        </div>
        <div class="btn-container">
            <button class="btn btn-custom btn-leader">
                <span>
                    <img src="../static/images/lider.png" class="btn-icon" alt="Leader Icon">
                    Lider
                </span>
            </button>
            <button class="btn btn-custom btn-collaborator">
                <span>
                    <img src="../static/images/colaborador.png" class="btn-icon" alt="Collaborator Icon">
                    Colaborador
                </span>
            </button>
        </div>
    </div>
    <!-- Bootstrap JS (Optional, if you need any Bootstrap JS functionality) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
